@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:wght@700&family=Rubik+Doodle+Triangles&display=swap");
html {
  font-size: 1rem;
  box-sizing: border-box;
}
body {
  font-family: "Madimi One";
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
hr {
  border: 0;
  border-top: 1px dotted #efefef;
}
